.row-section{float:left; width:100%  /* fallback for old browsers */
}
.row-section h2{float:left; width:100%; color:#000; margin-bottom:30px; font-size: 14px;}
.row-section h2 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px;font-weight:700;}
.row-section h2 a{color:#d2abce;}
.btn-default{background:#6B456A; color:#fff; border-radius:30px; border:none; font-size:16px;}
.fa-spin {
    margin: 0 auto;}
body {
    background-color: lightgray;
}

.pokemon-card {
    max-width: 22%;
    min-width: 200px;
    transition: all .2s ease-in-out; 
}

.pokemon-img{
    max-height: 130px; 
    vertical-align: middle;
}

.infinite-scroll-component {
    overflow: hidden !important;
}

.pokemon-card:hover {
    transform: scale(1.1);
}

.background-color-bug{
    background-color: #A8B820;
}

.background-color-dark{
    background-color: #705848;
}

.background-color-dragon{
    background-color: #7038F8;
}

.background-color-electric{
    background-color: #F8D030;
}

.background-color-fairy{
    background-color: #EE99AC;
}

.background-color-fighting{
    background-color: #C03028;
}

.background-color-fire{
    background-color: #F08030;
}

.background-color-flying{
    background-color: #A890F0;
}

.background-color-ghost{
    background-color: #705898;
}

.background-color-grass{
    background-color: #78C850;
}

.background-color-ground{
    background-color: #E0C068;
}

.background-color-ice{
    background-color: #98D8D8;
}

.background-color-normal{
    background-color: #A8A878;
}

.background-color-poison{
    background-color: #A040A0;
}

.background-color-psychic{
    background-color: #F85888;
}

.background-color-rock{
    background-color: #B8A038;
}

.background-color-steel{
    background-color: #B8B8D0;
}

.background-color-water{
    background-color: #6890F0;
}

.label{
    display: inline;
    padding: .3em .9em .4em;
    font-size: 110%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin: 5px;
}

.stick-bottom{
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
}

.card-body {
    margin-bottom: 2.3rem;
}